<div class="container">
  <div class="page-header">
    <h1>Browse Artists</h1>
  </div>


  <div ng-hide="loading" ng-repeat="period in artisticPeriods" >

    <!-- Period example --> 
    <div class ='row'>
      <div class="col-md-12"  >
        <figure class='tint'>
          <div class="widescreen-image-frame" 
               ng-click="switchPeriod(period);" 
               ng-mouseenter="period.fade = true" 
               ng-mouseleave="period.fade = false" 
               ng-class="{ 'display-title': period.fade  }"
               ng-style="{ 'background-image': 'url(' + period.imgSrc + ')' }" >

            <h1 class="period-title" ng-show="period.fade">{{ period.name }}</h1>

          </div> <!-- period example -->
        </figure>
      </div>
    </div>
    <!-- Artist serach box-->
    <div class="row" ng-show="period.visible">
      <%= render 'search' %>
    </div> <!-- end artist search box-->

  </div> <!-- end for each period-->

</div> <!-- End container-->

