<div class="container">
  <div class="page-header">
    <h1>Browse Art</h1>
  </div>
  <div class="row widescreen-image-frame">
    <div class="col-md-12">
      <img class="widescreen-image" alt="Jacques-Louis David - Oath of the Horatii - Google Art Project.jpg" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Jacques-Louis_David_-_Oath_of_the_Horatii_-_Google_Art_Project.jpg/1200px-Jacques-Louis_David_-_Oath_of_the_Horatii_-_Google_Art_Project.jpg">
    </div>
  </div>

  <div class="row artist-query">

    <div class="col-md-12">
      <div class = "media">
        <a class = "pull-left" href = "#">
            <div class="artist-portrait-wrapper">
              <img class="artist-portrait-image" alt="David Self Portrait.jpg" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c6/David_Self_Portrait.jpg/1200px-David_Self_Portrait.jpg">
            </div>
         </a>
         
         <div class = "media-body">
           <h4 class = "media-heading">Jacques-Louis David</h4>
           An influential French painter in the Neoclassical style, considered to be the preeminent painter of the era. In the 1780s his cerebral brand of history painting marked...
         </div>
        
      </div>

      <div class = "media">
         <a class = "pull-left" href = "#">
            <div class="artist-portrait-wrapper">
              <img class="artist-portrait-image" alt="Antonio Canova Selfportrait 1792.jpg" src="https://upload.wikimedia.org/wikipedia/commons/6/6b/Antonio_Canova_Selfportrait_1792.jpg">
              
            </div>
         </a>
         
         <div class = "media-body">
           <h4 class = "media-heading">Antonio Canova</h4>

         </div>
          an Italian neoclassical sculptor, famous for his marble sculptures. Often regarded as the greatest of the neoclassical artists,[1] his artwork was inspired by the Baroque and the classical revival, but avoided the melodramatics of the former, and the cold artificiality of the latter.[2] 
      </div>
    </div>
  </div>

  <div class="row widescreen-image-frame">
    <div class="col-md-12">
      <img class="widescreen-image" alt="Claude Monet, Impression, soleil levant.jpg" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/54/Claude_Monet%2C_Impression%2C_soleil_levant.jpg/1200px-Claude_Monet%2C_Impression%2C_soleil_levant.jpg">
    </div>
  </div>
</div>
