/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";


.widescreen-image-frame {
  
  max-height: 200px;
  overflow:hidden;
}

.widescreen-image {

  max-width:100%;

  position:relative;
  bottom:250px;

}

.artist-portrait-image {
  
  max-width:100%

}

.circular-portrait-frame {

  height:64px;
  width:64px;
  overflow:hidden;
  border-radius:64px;

}

.artist-query {

  padding-bottom:25px;
  overflow: scroll;
  height: 400px

}

.arist-query-result-row{

  padding-top:10px;

}

