// Place all the styles related to the Artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";


.image-frame {
  
  max-height: 200px;
  overflow:hidden;

}

h1{

  color:red;

}

